<%= form_with scope: :devices, url: devices_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :internal_name %><br>
    <%= form.text_field :internal_name %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
